.python-version
.mypy_cache
__pycache__

data/*
results/*
notebooks/*
!.gitkeep

!configs/*
!configs/mnist/
!configs/fashion-mnist/

configs/mnist/*
!configs/mnist/mnist-v1.yaml
!configs/mnist/mnist-v2.yaml

configs/fashion-mnist/*
!configs/fashion-mnist/fashion-mnist-v1.yaml

deploy.sh
fetch.sh
