experiment_name: "debug"

log_path: "results/debug"
tensorboard_path: "results/debug/runs"

dataset:
  path: "data"
  name: "mnist"
  batchsize: 20
  n_workers: 4
  height: 28
  width: 28
  number_limit: -1

training:
  n_epochs: 40
  seed: 0
  log_interval: 1
  snapshot_interval: 5
  log_samples_interval: 5

optimizer:
  gen:
    lr: 0.0002
    decay: 0.00001
  dis:
    lr: 0.0002
    decay: 0.00001

models:
  dis:
    use_noise: true
    noise_sigma: 0.2

latent_variables:
  - 
    name: "z"
    kind: "z"
    prob: "normal"
    dim: 64
    mu: 0
    var: 1

  - 
    name: "c1"
    kind: "c"
    prob: "categorical"
    dim: 1
    k: 10
    weight: 1

  - 
    name: "c2"
    kind: "c"
    prob: "uniform"
    dim: 1
    min: -1
    max: 1
    weight: 0.1

  # - 
  #  name: "c3"
  #  kind: "c"
  #  prob: "normal"
  #  dim: 1
  #  mu: 0
  #  var: 1

